body{

    background-image: url('https://www.wallpaperup.com/uploads/wallpapers/2015/05/07/681043/c25ba5ff9466970b15b6bf16ad4d284f-1000.jpg');
    background-size: cover;
    
}

.box_player {
    position: relative;
    width   : 2000px;
    margin  : auto;
    height  : 1000px;

    display: flex;

    flex-wrap: wrap;
}

.box_player>div {}

.box_player img {
    border-radius: 50%;
}

.rainbow-text {
 color: white;
}

@keyframes rainbow {
    0% {
        background-position: left;
    }

    100% {
        background-position: right;
    }
}

 

.rainbow-text:hover {
    transform: scale(1.1);
}

.winner {
    background-color: aliceblue;
    z-index: 999;
    width : 100%;
    height: 100vh;
}
.winner >img{
    width: 300px;
}